<div class="modelpagelayoutcontainer">
    <div class="modelpagetop">
        <div class="modelpagemaintitle" id="modelpagemaintitle">
            <a href="<%-links.allmodels%>" class="profilemainnamelink headerfirstlink" id="profilemainnamelink<%-con[0].id%>">
                <span><%-con[0].name%></span>
            </a>
            <img src="/images/mobile/15_mobile_portfolio_menu_line.svg" class="menuseparator"/>
            <a href="<%-links.allmodels%>" class="modelpagemenuitem modelpagemenuitemlinks" id="allmodelslink">back</a>
        </div>
        <div class="modelpagelayoutmenucontainer">
            <% for (var i=1; i< con.length;i++){
            var menuelem = con[i];
            var slug = path + '/'+menuelem.slug;
            menutype="gallery";
            %>
            <a href="<%-slug%>" data-slug="<%-slug%>" data-id="<%-menuelem.id%>" data-type="<%-menutype%>" class="modelpagemenuitem" id="modelpagemenuitem<%-menuelem.id%>"><span><%-menuelem.name%></span></a>
            <% } %>

        </div>
    </div>

    <div class="modelpagesectincontainer" id="modelpagesectincontainer">
    </div>
</div>