<div id="logomenucontainer"><a href="/" class="logolink"><img src="/images/mobile/11_logo_main.svg" class="logo studiogroup"><img src="/images/mobile/12_logo_models.svg" class="logomodels"></a></div>
<div id="rightmenucontainer">
    <div id="socialmenucontainer">
        <% for (var i=0;i< sociallinks.length;i++){ %>
        <div class="socialiconsmenu" id="<%=sociallinks[i].id%>" data-link="<%=sociallinks[i].link%>">
            <a href="<%=sociallinks[i].link%>" target="_blank"></a>
        </div>
        <% } %>
    </div>
</div>
