.kern-letter-A + .kern-letter-R {margin-left:-0.02em;}
.kern-letter-T + .kern-letter-S {margin-left:-0.02em;}
.kern-letter-S + .kern-letter-T {margin-left:-0.02em;}
.kern-letter-M + .kern-letter-O {margin-left:-0.02em;}
.kern-letter-H + .kern-letter-A {margin-left:-0.02em;}
.kern-letter-A + .kern-letter-I {margin-left:-0.02em;}
.kern-letter-M + .kern-letter-A {margin-left:-0.02em;}
.kern-letter-A + .kern-letter-K {margin-left:-0.02em;}
.kern-letter-L + .kern-letter-I {margin-left:0.02em;}
.kern-letter-I + .kern-letter-C {margin-left:0.02em;}
.kern-letter-F + .kern-letter-L {margin-left:0.02em;}
.kern-letter-I + .kern-letter-L {margin-left:0.02em;}
.kern-letter-R + .kern-letter-E {margin-left:0.02em;}
.kern-letter-E + .kern-letter-S {margin-left:0.02em;}
.kern-letter-I + .kern-letter-D {margin-left:0.02em;}
.kern-letter-O + .kern-letter-S {margin-left:-0.02em;}
.kern-letter-R + .kern-letter-T {margin-left:0.02em;}
.kern-letter-T + .kern-letter-R {margin-left:0.02em;}
.kern-letter-T + .kern-letter-F {margin-left:0.02em;}
.kern-letter-T + .kern-letter-I {margin-left:0.02em;}
.kern-letter-I + .kern-letter-T {margin-left:0.02em;}
.kern-letter-E + .kern-letter-L {margin-left:0.02em;}
.kern-letter-R + .kern-letter-I {margin-left:0.02em;}
.kern-letter-I + .kern-letter-N {margin-left:0.02em;}
.kern-letter-N + .kern-letter-K {margin-left:0.02em;}
.kern-letter-I + .kern-letter-R {margin-left:0.02em;}
.kern-letter-I + .kern-letter-N {margin-left:0.02em;}
.kern-letter-L + .kern-letter-Y {margin-left:-0.04em;}
.kern-letter-Y + .kern-letter-S {margin-left:-0.02em;}
.kern-letter-S + .kern-letter-Y {margin-left:-0.02em;}
.kern-letter-T + .kern-letter-H {margin-left:0.02em;}
.kern-letter-H + .kern-letter-E {margin-left:0.02em;}
.kern-letter-E + .kern-letter-N {margin-left:0.02em;}
.kern-letter-T + .kern-letter-T {margin-left:0.02em;}
.kern-letter-E + .kern-letter-L {margin-left:0.02em;}
.kern-letter-T + .kern-letter-A {margin-left:-0.02em;}
.kern-letter-A + .kern-letter-T {margin-left:-0.02em;}
.kern-letter-A + .kern-letter-C {margin-left:-0.02em;}
.kern-letter-C + .kern-letter-Y {margin-left:-0.02em;}
.kern-letter-Y + .kern-letter-C {margin-left:-0.02em;}
.kern-letter-D + .kern-letter-A {margin-left:-0.02em;}
.kern-letter-A + .kern-letter-D {margin-left:0.01em;}
.kern-letter-V + .kern-letter-A {margin-left:-0.03em;}
.kern-letter-A + .kern-letter-V {margin-left:-0.03em;}
.kern-letter-I + .kern-letter-V {margin-left:0.02em;}
.kern-letter-U + .kern-letter-L {margin-left:0.02em;}
.kern-letter-P + .kern-letter-A {margin-left:-0.02em;}
.kern-letter-D + .kern-letter-Y {margin-left:-0.02em;}
.kern-letter-Y + .kern-letter-A {margin-left:-0.03em;}
.kern-letter-A + .kern-letter-Y {margin-left:-0.03em;}
.kern-letter-A + .kern-letter-U {margin-left:-0.02em;}
.kern-letter-L + .kern-letter-T {margin-left:-0.02em;}
.kern-letter-I + .kern-letter-B {margin-left:0.02em;}
.kern-letter-A + .kern-letter-S {margin-left:-0.02em;}
.kern-letter-S + .kern-letter-A {margin-left:-0.02em;}
.kern-letter-N + .kern-letter-I {margin-left:0.02em;}
.kern-letter-I + .kern-letter-N {margin-left:0.02em;}
.kern-letter-A + .kern-letter-N {margin-left:-0.02em;}
.kern-letter-N + .kern-letter-A {margin-left:-0.02em;}
.kern-letter-U + .kern-letter-T {margin-left:0.01em;}
.kern-letter-T + .kern-letter-U {margin-left:0.01em;}
.kern-letter-Z + .kern-letter-I {margin-left:0.02em;}
.kern-letter-I + .kern-letter-Z {margin-left:0.02em;}
.kern-letter-I + .kern-letter-E {margin-left:0.02em;}
.kern-letter-E + .kern-letter-I {margin-left:0.02em;}
