body {
    margin:0;
    -webkit-text-size-adjust: none;
}


#menucontainer {
    overflow: hidden;
}

#logomenucontainer {
    float:left;
    padding-left:20px;
    padding-top:50px;
    padding-bottom:35px;
}

.logomodels {
    display: none;
}


#rightmenucontainer {
    float:right;
}

#socialmenucontainer {
    margin-right:14px;
    display:inline-block;
    vertical-align: top;
    margin-top:47px;
}

.socialiconsmenu {
    width:27px;
    height:27px;
    margin-right:6px;
    cursor: pointer;
    display: block;
    float:left;
    vertical-align: top;
}

.socialiconsmenu a {
    display:block;
    width:27px;
    height:27px;
}

#facebooksociallink {
    background-image: url("/images/03_facebook.svg");
}

#facebooksociallink:hover {
    background-image: url("/images/03_facebook_rollover.svg");
}

#instagramsociallink {
    background-image: url("/images/01_insta.svg");
}

#instagramsociallink:hover {
    background-image: url("/images/01_insta_rollover.svg");
}

#twittersociallink {
    background-image: url("/images/02_twitter.svg");
}

#twittersociallink:hover {
    background-image: url("/images/02_twitter_rollover.svg");
}

/******************************************************8
* intro section
*********************************************************/

.introcontainer {
    margin-left:20px;
    margin-right:19px;
    overflow: hidden;
    margin-bottom: 50px;
}

.introsectioncontainerwrap {
    float:left;
    margin-right:1px;
    margin-bottom:1px;
    max-width:242px;
    height:110px;
    width: 100%;
}

.introsectioncontainer {

    position:relative;
    overflow:hidden;

    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
}

.introsectioncontainerblack {
    background-color: #000000;
}

.introimage {
    display:none;
    flex-shrink:0;
    min-width:100%;
    min-height:100%;

}

.introsectionname {
    color: #ffffff;
    font-family: berthold_akzidenz_grotesk_bB;
    font-size: 14px;
    line-height: 21px;
    top:16px;
    left:20px;
    position:absolute;
}

/******************************************************
* type page
*******************************************************/

.typelinks {
    font-family: berthold_akzidenz_grotesk_bB;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    color:#000000;
    text-transform: uppercase;
    text-decoration: none;
    margin-right:12px;
}

.typetoplinks {
    line-height: 21px;
}

.typesublinks {
    line-height: 21px;
}

.typelinks:hover,.typelinksselected {
    color: #ed174f;

}

.pagetoplinkscontainer,.pageheadercontainer,.pagelowerlinkscontainer {
    margin-left:20px;
    margin-right:20px;
    font-size: 0px;
}

.displaylinkscontainer,.pagetoplinkscontainer {
    margin-top:30px;
}

.displaylinkscontainer {
    display:none;
}


/***********************************************************8
* professionals layout
***********************************************************/

.portfoliotop {
    margin-left:20px;
    margin-right:20px;
    font-size: 0px;
}

.profilemainnamelink,.seemoreprofessionals,.portfoliomenuitem {
    font-family: berthold_akzidenz_grotesk_bB;
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: middle;
    color:#000000;
    text-transform: uppercase;
    text-decoration: none;
    margin-right:12px;
}

.profilemainnamelink:hover,.seemoreprofessionals:hover,.portfoliomenuitem:hover,.portfoliomenuitemselected {
    color: #ed174f;
}

.seemoreprofessionals {
    margin-right: 0px;
}

.portfoliosectincontainer {
    margin-top:0px;
}

/*************************************************************
* professionals gallery
***********************************************************/

.mainportfoliocontainer {
    margin-left:20px;
    margin-right:20px;
}

.imageportfoliobig {
    opacity: 0;

}

.innercontent {
    margin-top:40px;
    max-width:100%;
}

.captioninnercontent {
    margin-top:18px;
    font-family: berthold_akzidenz_grotesk_bR;
    font-size: 11px;
    line-height: 16px;
    margin-bottom:-2px;
    text-transform: uppercase;
    color: #939598;
}

.backtotop {
    padding-top:50px;
    padding-bottom: 50px;
}

#backtotoplink {
    font-family: berthold_akzidenz_grotesk_bB;
    font-size: 14px;
    line-height: 21px;
    vertical-align: middle;
    color:#000000;
    text-transform: uppercase;
}



/**************************************
* profile prof
***************************************/

.profilecontainer {
    margin-left:20px;
    margin-top:40px;
    margin-right:20px;
}
.imageprofile {
    margin-bottom:25px;
}

.imageprofile img {
    display:block;
    opacity: 0;
}

.contentprofile {
    font-family: berthold_akzidenz_grotesk_bR;
    color: #808285;
    font-size: 13px;
    line-height: 19px;
}

.contentprofile strong,.contentprofile b{
    font-family: berthold_akzidenz_grotesk_bB;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}

/***********************************************8
* profile intro first page
***********************************************/


.bioprofilecontainer {
    margin-left: 20px;
    margin-right:20px;
    overflow: hidden;
    margin-top:45px;
    margin-bottom: 50px;
}
.bioprofileimagecontainer {

    margin-bottom:50px;
}
.bioprofileimagecontainer img {
    max-width: 100%;
}

.bioprofiletextcontainer {

    border-top:10px #231f20 solid;
    border-bottom:10px #231f20 solid;
    padding:30px 0;

    max-width:100%;

    font-family: berthold_akzidenz_grotesk_bR;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color:#231f20;

}

.bioprofilecontainerscrollable {
    overflow:hidden;
}

.bioprofiletextcontent ul {
    list-style-type: disc;
    list-style-position: inside;
}
.bioprofiletextcontent li {
    list-style-position: outside;
    list-style-image: url("/images/_ studio_list_bullet.svg");
    padding-top:10px;
    padding-bottom:10px;
    margin-left:20px;
    text-align:left;
}

.bioprofiletextcontent a {
    font-family: berthold_akzidenz_grotesk_bS;
    color: #000000;
}

/********************************************************8
* models category
**********************************************************/

.modelscategorycontainer {
    display:none;
}

.modelscategorylayoutmenucontainer {
    font-size: 0px;
    margin-left: 20px;
    margin-right:20px;
}

.modelscategorymaintitle {
    font-size:0px;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 25px;
}

.modelscategorymenuitem,.modelscategorymainnamelink {
    color: #000000;
    display: inline-block;
    font-family: berthold_akzidenz_grotesk_bS;
    font-size: 12px;
    line-height: 18px;
    margin-right: 14px;
    text-transform: uppercase;
    vertical-align: middle;
}

.modelscategorymenuitem:hover {
    color:#ed174f;
}

.modelscategorymenuitemselected {
    color: #ed174f;
}

/*********************************************************8
* models gallery
********************************************************/

.maincategorycontainer {
    display:none;
}

.modelscategorysectincontainer {
    margin-left:20px;
    margin-right: 8px;
}
.modellistcontainer {
    width:214px;
    height:320px;
    margin-right:12px;
    float:left;
}

.containermodelimage {
    max-width:214px;
    height:270px;
    background-color: #ebebeb;
    display: inline-block;
}

.containermodelimageloaded {
    background-color: #ed174f;
}

.modelimage {
    max-width:214px;
    height:270px;
    cursor: pointer;
    display: none;
}

.modelimageover {

}

.containermodelname {
    font-family: berthold_akzidenz_grotesk_bB;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
    padding-top:6px
}

.containermodelname a {
    color: #000000;
    text-decoration: none;
}

.containermodelname a:hover {
    color: #ed174f;
}

.modelscategorytop {
    background-color: #ffffff;
    width:100%;
}

.listcategorymaincontainer {
    overflow:hidden;
    margin-top:40px;
}

/******************************************************8
* model page
**********************************************************/

.modelspagecontainer {
    display:none;
}

.modelpagetop {
    width: 100%;
}

.modelpagemaintitle {
    font-size: 0px;
    margin-left: 20px;
}


.modelpagelayoutmenucontainer {
    margin-left: 20px;
}

.modelpagemenuitem {
    color: #000000;
    display: inline-block;
    font-family: berthold_akzidenz_grotesk_bS;
    font-size: 12px;
    line-height: 18px;
    margin-right: 14px;
    text-transform: uppercase;
    vertical-align: middle;
}

.modelpagemenuitem:hover {
    color:#ed174f;
}

.modelpagemenuitemselected {
    color: #ed174f;
}

.modelpagemenuitemlinks {
    color:#000000;
    font-size: 14px;
    line-height:21px;
    font-family: berthold_akzidenz_grotesk_bB;
}


/***********************************************************8
* model gallery
**************************************************************/

.modelcaption {
    margin-top:17px;
    margin-bottom:-5px;
}


.modelinterviewtextcontainer {
    border-top:10px #231f20 solid;
    border-bottom:10px #231f20 solid;
    padding:30px 0;

    margin-top:40px;
    max-width:100%;

    font-family: berthold_akzidenz_grotesk_bR;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color:#231f20;

}

.modelinterviewcontainerscrollable {
    overflow:hidden;
    height:100%;
}

.modelinterviewtextcontent ul {
    list-style-type: disc;
    list-style-position: inside;
}
.modelinterviewtextcontent li {
    list-style-position: inside;
    list-style-type: disc;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:20px;
    display: inline-block;
    text-align:left;
}

.modelinterviewtextcontent strong,.modelinterviewtextcontent b {
    font-family: berthold_akzidenz_grotesk_bS;
    font-size: 14px;
    line-height: 18px;
    color:#000000;
}

.modelinfocontainer {
    font-family: berthold_akzidenz_grotesk_bR;
    font-size: 11px;
    line-height: 16px;
    color:#939598;
    text-transform: uppercase;

    vertical-align: middle;
}

.modelinfocontainer span{
    display: inline-block;
}

.compcard {
    font-family: berthold_akzidenz_grotesk_bS;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color:#000000;
    vertical-align: middle;
    margin-top:11px;
    display: inline-block;

}

.compcard:hover {
    color: #ed174f;
}

/********************************************************
* international
******************************************************/

#internationalcontent {
    margin-left: 20px;
    margin-right: 20px;
    margin-top:40px;
    margin-bottom:0px;
}

.containermodelnameinternational {
    font-family: berthold_akzidenz_grotesk_bR;
    color:#000000;
    font-size: 12px;
    line-height:18px;
    text-transform: uppercase;
}

.containermodelnameinternational span {
    display:block;
    color:#ed174f;
    margin-top:12px;
    margin-bottom:5px;
}

.modellistcontainerinternational {
    height:auto;
    float:none;
    display: inline-block;
    vertical-align: top;
    margin-bottom:28px;
}

/********************************************************
* special occasion
******************************************************/

#specialoccasioncontent {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:28px;
}

.specialoccasionmainlink {

}

.specialoccasiontext {
    margin:30px 20px 22px 20px;
    font-family: berthold_akzidenz_grotesk_bL;
    font-size: 12px;
    color:#58595b;
    line-height: 19px;
}

/********************************************************
* contact
********************************************************/
#contactcontent {
    margin-bottom:28px;
}

.contactmainlink {
}
.contactfirsttext {
    margin-top:56px;
    margin-left:20px;
    margin-right:20px;

}

.contactfirsttext,.contacttextscontainer {
    font-family: berthold_akzidenz_grotesk_bR;
    font-size: 14px;
    line-height: 19px;
    color:#808285;
    text-decoration: none;
}

.contactfirsttext a,.contacttextscontainer a {
    text-decoration: none;
    color: #ed174f;
}

.contacttextscontainer {
    margin-left:20px;
    margin-top:-4px;
}

.contacttextwrapper {
    display:inline-block;
    vertical-align: top;
    width:250px;
    margin-right: 35px;
    margin-top:45px;
}

.facebooklikecontainer {
    margin-left:20px;
    margin-top:45px;
}


.pagecontainer {
    margin-bottom: 50px;
    overflow: auto;
}


.menuseparator {
    display:inline-block;
    vertical-align: middle;
}

.headerfirstlink {
    margin-right:0px;
}

.presscontainer {
    margin-left:20px;
    margin-right:20px;
    margin-top:40px;
}

.portfoliomaingallerycontainer {
    font-size: 0px;
    /*margin-bottom: 50px;*/
}

.mainpressimagecontainer {
    margin-right:3px;
    margin-bottom:3px;
}
.mainpressimagecontainer,.mainpressimagecontainer img {
    display: inline-block;
    font-size: 0px;
}

.mainpresstextcontainer {
    margin-left:20px;
    margin-right:20px;
    margin-top:40px;
}


.pressmainposttextcontainer {
    font-family: berthold_akzidenz_grotesk_bL;
    font-size: 13px;
    line-height: 19px;
    color:#808285;
}

.pressmainposttextcontainer a {
    color: #231f20;
}

.pressmainposttextcontainer a:hover {
    color:#ed174f;
}

.pressmainposttextcontainer strong {
    color: #231f20;
}

.pressmainposttextcontainer img {
    max-width:100%;
}

.pressmainposttextcontainer span {
    font-size: 14px;
    line-height:20px;
    color:#231f20;
}

.typecontainer {
    margin-bottom:50px;
}

@media (max-width: 360px){
    #logomenucontainer {
        float: none;
    }
    #rightmenucontainer {
        float: none;
        padding-bottom:35px;
        margin-left:20px;
    }

    #logomenucontainer {
        padding-bottom: 31px;
    }

    #socialmenucontainer {
        margin-top:0px;
    }
}

@media (min-width: 361px){
    .introcontainer {
        margin-top:-2px;
    }


}




