<div class="portfoliomaingalleryscrollable">
    <div class="portfoliomaingallerycontainer"><% for (var i=0;i< con.length;i++){
        var image = con[i];     %>
            <div class="maingalleryimagecontainer" data-width="<%-image.imageWidth1%>"  data-height="<%-image.imageHeight1%>">
                <!--<img src="<%-image.linkpath%>/_images1/<%-image.name%>" id="galleryimage<%-i%>" class="galleryimage" data-id="<%-image.id%>" data-index="<%-i%>" data-width="<%-image.imageWidth1%>"
                     data-height="<%-image.imageHeight1%>" />-->
                </div>
        <% } %></div>
</div>