<div class="zoomviewercontainerwrap">
    <div class="zoomviewerarrowleft zoomviewerarrow"><img src="/images/13_arrow_prev_.svg" class="arrownormal"><img src="/images/13_arrow_prev_rollover.svg" class="arrowrollover"></div>
    <div class="zoomviewercontentcontainer"></div>

    <div class="zoomviewerarrowright zoomviewerarrow"><img src="/images/13_arrow_next_.svg" class="arrownormal"><img src="/images/13_arrow_next_rollover.svg" class="arrowrollover"></div>
    <div class="zoomviewerclosecontainer"><img src="/images/zoom_X_close.svg" class="zoomclosenormal"><img src="/images/zoom_X_close_rollover.svg" class="zoomcloserollover"></div>
</div>