<div class="portfoliolayoutcontainer">
    <div class="portfoliotop">
        <div class="portfoliomaintitle" id="portfoliomaintitle">
            <a href="/<%-backslug%>" class="profilemainnamelink headerfirstlink" id="profilemainnamelink<%-con[0].id%>">
                <span><%-con[0].name%></span>
            </a>
            <img
                src="/images/mobile/15_mobile_portfolio_menu_line.svg" class="menuseparator"/>
            <a
                href="/<%-backslug%>" class="seemoreprofessionals" id="backprofessional">back</a></div>
        <div class="portfoliolayoutmenucontainer">
            <% for (var i=1; i< con.length;i++){
            var menuelem = con[i];
            var slug = path+'/'+menuelem.slug;
            var hasSubsections = false;
            var menutype="";
            if ((menuelem.slug == "portfolio")||(menuelem.slug=="videos")) {
            menutype="gallery";
            }
            if (menuelem.slug == 'profile') menutype="profile";
            if (menuelem.slug == 'press') {
                menutype = "press_gallery";
            }
            if (menuelem.slug == 'social') {
                    menutype = "social";
                    slug=menuelem.link;
            }
            if ((menuelem.hasOwnProperty('subsections'))&&(menuelem.subsections.length>0)) hasSubsections = true;
            if (hasSubsections) {
            for (var k=0;k< menuelem.subsections.length;k++) {
            var submenuelem = menuelem.subsections[k];
            var submenutype="";
            if ((menuelem.slug == "portfolio")||(menuelem.slug=="videos")) {
                    submenutype = "gallery";
            }
            %>
            <a href="<%-slug%>/<%-submenuelem.slug%>" data-type="<%-submenutype%>" data-slug="<%-slug%>/<%-submenuelem.slug%>" data-id="<%-submenuelem.id%>" class="portfoliomenuitem" id="portfoliomenuitem<%-submenuelem.id%>"><span><%-submenuelem.name%></span></a>
            <% }
            } else { %>
            <a href="<%-slug%>" data-slug="<%-slug%>" data-id="<%-menuelem.id%>" data-type="<%-menutype%>" class="portfoliomenuitem" id="portfoliomenuitem<%-menuelem.id%>"><span><%-menuelem.name%></span></a>
            <% } %>

            <% } %>

        </div>
    </div>

    <div class="portfoliosectincontainer" id="portfoliosectincontainer">
    </div>
</div>